.vs/
Debug/
*.log
*.tlog
*.ilk
*.idb
*.id0
*.id1
*.nam
*.til
*.id2
*.bat
Pikmin1Decompiled/sysBootup/Original/log.txt
Pikmin1Decompiled/sysBootup/Original/MSVCRTD.DLL
Pikmin1Decompiled/sysBootup/Original/sysCore.dll
*.plg
*.opt
*.ncb
*.dsp
*.positions
